
<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{%url 'home' %}" class="brand-link">
      <img src="dist/img/AdminLTELogo.png" alt="Piso de Planta" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Rot</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block"> Nombre de Usuario </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview ">
            <a href="#" class="nav-link" >
              <i class="nav-icon fas fa-industry"></i>
              <p>
                Planta
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{%url 'home' %} " class="nav-link  ">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Sodio</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'home' %} " class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Potasio</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'home' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Cloro</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'home' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Clorhídrico</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'home' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Secos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'home' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Servicios</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Energía
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{%url 'home' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Sub. Panel</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'home' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Sub Propia</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'home' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Gas</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-wrench"></i>
              <p>
                Mantenimiento
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{%url 'home' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Nueva O.T.</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'home' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Estatus de O.T.</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'home' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Pendientes para Paro</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'home' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Próximos Preventivos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'home' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Documentación Técnica</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'home' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Reportes </p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-truck"></i>
              <p>
                Embarques
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{%url 'home' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Almacenes de Producto</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'home' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Nueva embarque</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'home' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Estatus de embarque</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'home' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Reportes</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-hard-hat"></i>
              <p>
                Seguridad
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{%url 'home' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Inicidentes</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'home' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Comunicados</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'home' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Formatos</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>