{%load  static %}
<div class="sidebar-wrapper sidebar-theme">
    <nav id="sidebar">
        <ul class="navbar-item theme-brand flex-row  text-center">
            <li class="nav-item theme-logo">
                <a href="index.html">
                    <img src="{% static 'core/assets/img/logo.png'%}" class="navbar-logo"  alt="logo" >
                </a>
            </li>
            <li class="nav-item theme-text">
                <a href="index.html" class="nav-link"> e-ROT </a>
            </li>
        </ul>
        <!--   Menu Inicio            -->
        <ul class="list-unstyled menu-categories" id="accordionExample">
            <li class="menu">
                <a href="pblanco.html" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <i class="las la-home"></i>
                        <span>Inicio</span>
                    </div>
                </a>
            </li>
            <li class="menu">
                <a href="pblanco.html" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <i class="las la-flask"></i>
                        <span>Laboratorio</span>
                    </div>
                </a>
            </li>
            <li class="menu">
                <a href="pblanco.html" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <i class="las la-industry"></i>
                        <span>Producción</span>
                    </div>
                </a>
            </li>
            <li class="menu">
                <a href="pblanco.html" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <i class="las la-tools"></i>
                        <span>Mantenimiento</span>
                    </div>
                </a>
            </li>
            <li class="menu">
                <a href="pblanco.html" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <i class="las  la-truck"></i>
                        <span>Embarques</span>
                    </div>
                </a>
            </li>
            <li class="menu">
                <a href="pblanco.html" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <i class="las la-fire-extinguisher"></i>
                        <span>Seguridad</span>
                    </div>
                </a>
            </li>
            <li class="menu">
                <a href="pblanco.html" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <i class="las la-project-diagram >"></i>
                        <span>Proyectos</span>
                    </div>
                </a>
            </li>
            <li class="menu">
                <a href="pblanco.html" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <i class="las la-plug"></i>
                        <span>Energía</span>
                    </div>
                </a>
            </li>
        </ul>

    </nav>
</div>